section.image-background {
	background-color: $orange;
	position: relative;

	&:after {
		content: "";
		background-image: none;
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100% auto;
		opacity: 0.1;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		position: absolute;
		z-index: 1;
		@media #{$large-up} {
			background-image: url(../images/header-original.jpg);
		}
	}

	.inner {
		color: $white;
		font-weight: 300;
		z-index: 2;
		font-size: 1.5rem;
		line-height: 2.4rem;
		letter-spacing: 0.02rem;
		padding-top: 4rem;
		padding-bottom: 4rem;
		@media #{$large-up} {
			font-size: 1.7rem;
			line-height: 2.8rem;
			letter-spacing: 0.03rem;
			padding-top: 5rem;
			padding-bottom: 5rem;
		}
		a {
			color: $white;
			text-decoration: underline;
		}
	}

}
